<a href="https://colab.research.google.com/github/gunjanak/Intermediate_Python/blob/main/Looping_techniques_in_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Enumerate() in Python

Often, when dealing with iterators, we also get need to keep a count of iterations. Python eases the programmersâ€™ task by providing a built-in function enumerate() for this task. Enumerate() method adds a counter to an iterable and returns it in a form of enumerating object. This enumerated object can then be used directly for loops or converted into a list of tuples using the list() method.

enumerate(iterable, start=0)


**Iterable:** any object that supports iteration


**Start:** the index value from which the counter is to be started, by default it is 0

In [1]:
days = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]

In [14]:
#Creating enumerate objects
enum_days = enumerate(days)

In [15]:
type(enum_days)

enumerate

In [4]:
enum_days

In [16]:
list(enum_days)

[(0, 'Sunday'),
 (1, 'Monday'),
 (2, 'Tuesday'),
 (3, 'Wednesday'),
 (4, 'Thursday'),
 (5, 'Friday'),
 (6, 'Saturday')]

In [17]:
list(enum_days)

[]

In [18]:
enum_days = enumerate(days)
for days in enum_days:
  print(days)

(0, 'Sunday')
(1, 'Monday')
(2, 'Tuesday')
(3, 'Wednesday')
(4, 'Thursday')
(5, 'Friday')
(6, 'Saturday')

In [23]:
days = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
for day in enumerate(days):
  print(day)

(0, 'Sunday')
(1, 'Monday')
(2, 'Tuesday')
(3, 'Wednesday')
(4, 'Thursday')
(5, 'Friday')
(6, 'Saturday')

In [24]:
days = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
for count,day in enumerate(days):
  print(count," : ",day)

0  :  Sunday
1  :  Monday
2  :  Tuesday
3  :  Wednesday
4  :  Thursday
5  :  Friday
6  :  Saturday

In [25]:
for count,day in enumerate(days,1):
  print(count," : ",day)

1  :  Sunday
2  :  Monday
3  :  Tuesday
4  :  Wednesday
5  :  Thursday
6  :  Friday
7  :  Saturday

#ZIP()

In [26]:
characters = ("Mickey","Donald","Goofy","Winnie-the-Pooh","Moana","Simba")
fav = ("Cheese","Jazz","cats","honey","swim","dance")

In [27]:
zip_me = zip(characters,fav)

In [28]:
zip_me

In [29]:
type(zip_me)

zip

In [30]:
tuple(zip_me)

(('Mickey', 'Cheese'),
 ('Donald', 'Jazz'),
 ('Goofy', 'cats'),
 ('Winnie-the-Pooh', 'honey'),
 ('Moana', 'swim'),
 ('Simba', 'dance'))

In [31]:
#zip with list
characters = ["Mickey","Donald","Goofy","Winnie-the-Pooh","Moana","Simba"]
fav = ["Cheese","Jazz","cats","honey","swim","dance"]

In [32]:
zip_lists = zip(characters,fav)

In [33]:
tuple(zip_lists)

(('Mickey', 'Cheese'),
 ('Donald', 'Jazz'),
 ('Goofy', 'cats'),
 ('Winnie-the-Pooh', 'honey'),
 ('Moana', 'swim'),
 ('Simba', 'dance'))

In [34]:
#Zip three lists
characters = ["Mickey","Donald","Goofy","Winnie-the-Pooh","Moana","Simba"]
fav = ["Cheese","Jazz","cats","honey","swim","dance"]
number = [7,8,9,55,66,21]

In [35]:
zip_three = zip(characters,fav,number)

In [36]:
zip_three

In [37]:
tuple(zip_three)

(('Mickey', 'Cheese', 7),
 ('Donald', 'Jazz', 8),
 ('Goofy', 'cats', 9),
 ('Winnie-the-Pooh', 'honey', 55),
 ('Moana', 'swim', 66),
 ('Simba', 'dance', 21))

In [38]:
#Iterables with different length
characters = ["Mickey","Donald","Goofy","Winnie-the-Pooh","Moana","Simba"]
fav = ["Cheese","Jazz","cats","honey","swim","dance","sleep"]
zip_diff = zip(characters,fav)

In [39]:
tuple(zip_diff)

(('Mickey', 'Cheese'),
 ('Donald', 'Jazz'),
 ('Goofy', 'cats'),
 ('Winnie-the-Pooh', 'honey'),
 ('Moana', 'swim'),
 ('Simba', 'dance'))

In [40]:
characters = ["Mickey","Donald","Goofy","Winnie-the-Pooh","Moana","Simba","Baloo"]
fav = ["Cheese","Jazz","cats","honey","swim","dance"]
zip_diff = zip(characters,fav)

In [41]:
tuple(zip_diff)

(('Mickey', 'Cheese'),
 ('Donald', 'Jazz'),
 ('Goofy', 'cats'),
 ('Winnie-the-Pooh', 'honey'),
 ('Moana', 'swim'),
 ('Simba', 'dance'))

In [42]:
characters = ["Mickey","Donald","Goofy","Winnie-the-Pooh","Moana","Simba","Baloo"]
fav = ["Cheese","Jazz","cats","honey","swim","dance"]
number = [7,8,9,55,66,21]

In [43]:
zip_3_diff = zip(characters,fav,number)

In [44]:
tuple(zip_3_diff)

(('Mickey', 'Cheese', 7),
 ('Donald', 'Jazz', 8),
 ('Goofy', 'cats', 9),
 ('Winnie-the-Pooh', 'honey', 55),
 ('Moana', 'swim', 66),
 ('Simba', 'dance', 21))

##unzip

In [64]:
#unzip
#zip with list
characters = ["Mickey","Donald","Goofy","Winnie-the-Pooh","Moana","Simba"]
fav = ["Cheese","Jazz","cats","honey","swim","dance"]
zip_list = zip(characters,fav)

In [65]:
c,f = zip(*zip_list)

In [66]:
c

('Mickey', 'Donald', 'Goofy', 'Winnie-the-Pooh', 'Moana', 'Simba')

In [67]:
f

('Cheese', 'Jazz', 'cats', 'honey', 'swim', 'dance')

##Creating dictionary with zipped keys and values

In [68]:
characters = ["Mickey","Donald","Goofy","Winnie-the-Pooh","Moana","Simba"]
fav = ["Cheese","Jazz","cats","honey","swim","dance"]
characters_dict = dict(zip(characters,fav))

In [69]:
characters_dict

{'Mickey': 'Cheese',
 'Donald': 'Jazz',
 'Goofy': 'cats',
 'Winnie-the-Pooh': 'honey',
 'Moana': 'swim',
 'Simba': 'dance'}

##Looping through multiple list at once

In [70]:
characters = ["Mickey","Donald","Goofy","Winnie-the-Pooh","Moana","Simba"]
favs = ["Cheese","Jazz","cats","honey","swim","dance"]

for character,fav in zip(characters,favs):
  print(character,": ",fav)

Mickey :  Cheese
Donald :  Jazz
Goofy :  cats
Winnie-the-Pooh :  honey
Moana :  swim
Simba :  dance

In [74]:
characters = ["Mickey","Donald","Goofy","Winnie-the-Pooh","Moana","Simba"]
favs = ["Cheese","Jazz","cats","honey","swim","dance"]
ages = [7,8,9,55,66,21]

In [76]:
for character,fav,age in zip(characters,favs,ages):
  print("%s of %d years likes %s" %(character,age,fav))

Mickey of 7 years likes Cheese
Donald of 8 years likes Jazz
Goofy of 9 years likes cats
Winnie-the-Pooh of 55 years likes honey
Moana of 66 years likes swim
Simba of 21 years likes dance

#Sorted()

In [78]:
a = (1, 11, 2)

x = sorted(a)

print(x)

[1, 2, 11]

In [77]:
a = ("h", "b", "a", "c", "f", "d", "e", "g")

x = sorted(a)

print(x)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']

In [79]:
a = ("h", "b", "a", "c", "f", "d", "e", "g")

x = sorted(a, reverse=True)

print(x)

['h', 'g', 'f', 'e', 'd', 'c', 'b', 'a']

In [90]:
for i in sorted(a):
  print(i)

a
b
c
d
e
f
g
h

In [92]:
characters = ["Mickey","Donald","Goofy","Winnie-the-Pooh","Moana","Simba"]
for character in sorted(characters):
  print(character)

Donald
Goofy
Mickey
Moana
Simba
Winnie-the-Pooh

In [101]:
#reversed with dictionary
novel = {
          "Name":  "Karnali Blues",
         "Writer": "Buddhi Sagar",
         "Rating":  4.2
}

In [97]:
for key in sorted(novel):
  print(key)

Name
Rating
Writer

In [102]:
for item in novel.items():
  print(item)

('Name', 'Karnali Blues')
('Writer', 'Buddhi Sagar')
('Rating', 4.2)

In [99]:
for item in sorted(novel.items()):
  print(item)

('Name', 'Karnali Blues')
('Rating', 4.2)
('Writer', 'Buddhi Sagar')

In [104]:
for key,value in sorted(novel.items()):
  print(key,": ",value)

Name :  Karnali Blues
Rating :  4.2
Writer :  Buddhi Sagar

#Reversed

In [83]:
for i in reversed(range(5)):
  print(i)

4
3
2
1
0

In [84]:
for i in reversed(range(0,50,5)):
  print(i)

45
40
35
30
25
20
15
10
5
0

In [81]:
a = ("h", "b", "a", "c", "f", "d", "e", "g")
for i in reversed(a):
  print(i)

g
e
d
f
c
a
b
h

In [82]:
characters = ["Mickey","Donald","Goofy","Winnie-the-Pooh","Moana","Simba"]
for character in reversed(characters):
  print(character)

Simba
Moana
Winnie-the-Pooh
Goofy
Donald
Mickey

In [85]:
#reversed with dictionary
novel = {
          "name":  "Karnali Blues",
         "Writer": "Buddhi Sagar",
         "Rating":  4.2
}

In [88]:
for key in reversed(novel):
  print(key)

Rating
Writer
name

In [89]:
for key in reversed(novel):
  print("%s : %s" %(key,novel[key]))

Rating : 4.2
Writer : Buddhi Sagar
name : Karnali Blues