<a href="https://colab.research.google.com/github/gunjanak/Intermediate_Python/blob/main/map_filter_reduce.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Map, filter andReduce are paradigms of functional programming.

They allow programmer to write simpler, shorter code, without necesssarily needing to bother about intricacies like loops and branching.

map and filter come built-in with Python and require no importing.

reduce, however, needs to be imported as it resides in the functools module.

#MAP

In [83]:
#The map() function in python has the following syntax

#map(func,*iterables)

In [84]:
my_pets = ['alfred','tabitha','william','arla']
uppered_pets = []
for pet in my_pets:
  pet_ = pet.upper()
  uppered_pets.append(pet_)

print(uppered_pets)

['ALFRED', 'TABITHA', 'WILLIAM', 'ARLA']

In [85]:
#using map
my_pets = ['alfred','tabitha','william','arla']
uppered_pets = list(map(str.upper,my_pets))

In [87]:
print(uppered_pets)

['ALFRED', 'TABITHA', 'WILLIAM', 'ARLA']

In [88]:
list(map(lambda x:x.upper(),my_pets))

['ALFRED', 'TABITHA', 'WILLIAM', 'ARLA']

In [89]:
#Say I have a list of circle areas that I calculated somewhere, 
#all in five decimal places.
#And I need to round each element in the list up to its position decimal places,
#meaning that I have to round up the first element in the list to one decimal place, 
#the second element in the list to two decimal places etc.
#With map() this is a piece of cake.

In [90]:
circle_areas = [3.56773,5.57668,4.00914,56.24241,9.01344,32.0000013]

result = list(map(round, circle_areas,range(1,7)))

In [91]:
result

[3.6, 5.58, 4.009, 56.2424, 9.01344, 32.000001]

In [92]:
circle_areas = [3.56773,5.57668,4.00914,56.24241,9.01344,32.0000013]

result = list(map(round, circle_areas,range(1,3)))
result

[3.6, 5.58]

In [96]:
#Here Python takes thethird element of circle_areas and then tries to take third element of range(1,3)
#but since range(1,3) does not have a third element, Python simply stops and returns the result.

In [95]:
numbers = [1,2,5,6,9,3,6,2]
powers = [1,5,6,3,2,1,8,9]
num_pow = list(map(lambda x,y:x**y,numbers,powers))

In [94]:
num_pow

[1, 32, 15625, 216, 81, 3, 1679616, 512]

In [97]:
#writing custom zip() function using map()
my_strings = ['a','b','c','d','e']
my_numbers = [1,2,3,4,5]
results = list(map(lambda x,y: (x,y),my_strings,my_numbers))
print(results)

[('a', 1), ('b', 2), ('c', 3), ('d', 4), ('e', 5)]

#Filter

In [98]:
#While map() passes each element in the iterable through a function and returns the result of all elements having passed through the function 
#filter(), first of all, requires the function to return boolean values(true or false)
#and then passes each element in the iterable through the function,
#"filtering" away thost that are false

#It has following syntax
#filter(function,iterable)

In [99]:
scores = [66,90,68,59,76,60,88,74,84,65]
def is_A_student(score):
  return score > 75

In [100]:
over_75 = list(filter(is_A_student,scores))
print(over_75)

[90, 76, 88, 84]

In [102]:
list(filter(lambda x:x>75,scores))

[90, 76, 88, 84]

In [101]:
#In next example we have a palindrome detector.
#A "palindrome" is a word phrase,or seuence that reads thesame backwards as forwards
#Let's filter out words that are palindromes from a tuple (iterable) of suspected palindromes

In [103]:
dromes = ("demigod","rewire","madam","freer","anutforajaroftuna","kiosk")
palindromes = list(filter(lambda word: word==word[::-1],dromes))
print(palindromes)

['madam', 'anutforajaroftuna']

#Reduce

In [104]:
from functools import reduce

In [105]:
numbers = [1,2,3,4,5]

def custom_sum(first,second):
  return first+second

In [106]:
result = reduce(custom_sum,numbers)

In [107]:
print(result)

15

In [108]:
#reduce takes the first and second elements in numbers and passes them to
#custom_num respectively.
#custom_sum computes their sum  and return it to reduce.
#reduce then takes that result and applies it as the first element to custom_sum and takes the next element (third) in numbers as thesecond element to custom_sum
#It does this continuously (cumulatively) until numbers is exhausted

In [109]:
numbers = [1,2,3,4,5]

def custom_sum(first,second):
  return first+second
result = reduce(custom_sum,numbers,10)

In [110]:
print(result)

25

In [111]:
#The result is 25, because reduce, initially uses 10 as the first argument to custom_sum

In [112]:
my_items = [
    [1, 3],
    [2, 3, 4],
    [5, 6]            
]

result_a = 0
for item in my_items:
    result_a += item[1]

print("Result a is", result_a)

Result a is 12

In [113]:
result_b = reduce(lambda a, b: (0, a[0] + b[0]), my_items)
print("Result b is", result_b)

Result b is (0, 5)

In [114]:
result_b = reduce(lambda a, b: (0, a[0] + b[0]), my_items)[1]
print("Result b is", result_b)

Result b is 5

In [115]:
# a 2D list 
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]] 

# Use reduce function for flattening a 2D list
print(reduce(lambda x, y: x + y, matrix))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

#Map and filter on same function

In [ ]:
countries = ["Afganisthan","China","Austria","Gremany","Somalia","Pakistan","Iran","Iraq","Egypt","Spain"]

In [ ]:
countries_with_A = list(map(lambda x:x[0] == 'A',countries))

In [ ]:
countries_with_A

[True, False, True, False, False, False, False, False, False, False]

In [ ]:
countries_with_A = list(filter(lambda x:x[0] == 'A',countries))

In [ ]:
countries_with_A

['Afganisthan', 'Austria']