<a href="https://colab.research.google.com/github/gunjanak/Intermediate_Python/blob/main/Regex_in_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import re

In [ ]:
txt = "The rain in Spain"

In [ ]:
#find all lower case characters alphabetically between "a" and "m"

In [ ]:
x = re.findall("[a-m]",txt)

In [ ]:
print(x)

['h', 'e', 'a', 'i', 'i', 'a', 'i']

In [ ]:
#find all digit characters
txt = "its 89 degree Farenheit"
re.findall("\d",txt)

['8', '9']

#Special sequences

##\\A

In [ ]:
#\A Returns a match if the specified characters are the begining of the string
import re
txt = "Love is being stupid together"
#check if the starts with "Love"
re.findall("\ALove",txt)

['Love']

In [ ]:
x = re.findall("\ALove",txt)
if x:
  print("Yes we found Love")
else:
  print("No match")

Yes we found Love

In [ ]:
txt = "This is not Love"

In [ ]:
x = re.findall("\ALove",txt)
if x:
  print("Yes we found Love")
else:
  print("No match")

No match

##\\b

In [ ]:
#Returns a match where the specified characters are at the begining or at the end of a wod
txt = "I scream, you scream, we all scream for ice cream"

In [ ]:
#It will search for words in txt that start with "cream"
re.findall(r"\bcream",txt)

['cream']

In [ ]:
##It will search for words in txt that end with "cream
re.findall(r"cream\b",txt)

['cream', 'cream', 'cream', 'cream']

##\\B

Returns a match whrere the specified characters are present, but NOT at the begining (or at the end) of a word.

In [ ]:
txt = "I scream, you scream, we all scream for ice cream"

In [ ]:
#Secarching for all words that have cream but not at the begining
#r is used to make sure that the string is being treated as "raw string"
re.findall(r"\Bcream",txt)

['cream', 'cream', 'cream']

In [ ]:
re.findall(r"cream\B",txt)

[]

In [ ]:
txt = "If a dog chews shoes, whose shoes does he choose?"

In [ ]:
re.findall(r"shoe\B",txt)

['shoe', 'shoe']

##\\d

In [ ]:
#Returns a match where the string contains digits (numbers from 0-9)

In [ ]:
txt1 = "She sells seashells by the seashore"
txt2 = "There are 15 songs in this album"

In [ ]:
re.findall("\d",txt1)

[]

In [ ]:
re.findall('\d',txt2)

['1', '5']

##\\D

In [ ]:
#Returns a match where the string does not contain digits

In [ ]:
txt1 = "She sells seashells"
txt2 = "There are 15 songs."

In [ ]:
print(re.findall("\D",txt1))
print(re.findall("\D",txt2))

['S', 'h', 'e', ' ', 's', 'e', 'l', 'l', 's', ' ', 's', 'e', 'a', 's', 'h', 'e', 'l', 'l', 's']
['T', 'h', 'e', 'r', 'e', ' ', 'a', 'r', 'e', ' ', ' ', 's', 'o', 'n', 'g', 's', '.']

##\s

In [ ]:
#Returns a match where the string contains a white space characters
txt1 = "She sells seashells"
txt2 = "There are 15 songs."

In [ ]:
re.findall("\s",txt1)

[' ', ' ']

In [ ]:
re.findall("\s",txt2)

[' ', ' ', ' ']

##\\S

In [ ]:
#Return a match at every NON white-space character

In [ ]:
txt1 = "She sells seashells"
txt2 = "There are 15 songs."

In [ ]:
re.findall("\S",txt1)

['S',
 'h',
 'e',
 's',
 'e',
 'l',
 'l',
 's',
 's',
 'e',
 'a',
 's',
 'h',
 'e',
 'l',
 'l',
 's']

In [ ]:
re.findall("\S",txt2)

['T',
 'h',
 'e',
 'r',
 'e',
 'a',
 'r',
 'e',
 '1',
 '5',
 's',
 'o',
 'n',
 'g',
 's',
 '.']

##\\w

In [ ]:
#Return a match at every word character (characters from a to Z,digits from 0-9,
#and the underscore _ character)

In [ ]:
txt1 = "my email is j_k_l_15@me.com"

In [ ]:
re.findall("\w",txt1)

['m',
 'y',
 'e',
 'm',
 'a',
 'i',
 'l',
 'i',
 's',
 'j',
 '_',
 'k',
 '_',
 'l',
 '_',
 '1',
 '5',
 'm',
 'e',
 'c',
 'o',
 'm']

##\\W

In [ ]:
#Returns a match where the string DOES NOT contain any word characters

In [ ]:
txt1 = "my email is j_k_l_15@me.com"

In [ ]:
re.findall("\W",txt1)

[' ', ' ', ' ', '@', '.']

##\\z

In [ ]:
#Returns a match if the specified characters are at the end of the string
txt1 = "my email is j_k_l_15@me.com"

In [ ]:
re.findall("com\Z",txt1)

['com']

#Sets

A set is a set of characters inside a pair of square brackets [] with a special meaning.

##[aeiou]

In [ ]:
#Returns a match where one of the specified characters (a,e,i,o or u)is present

In [ ]:
txt = "Eddie edited it"

In [ ]:
re.findall("[aeiou]",txt)

['i', 'e', 'e', 'i', 'e', 'i']

In [ ]:
txt2 = "Fred fed Ted bread, and Ted fed Fred bread"

In [ ]:
re.findall("[aeiou]",txt2)

['e', 'e', 'e', 'e', 'a', 'a', 'e', 'e', 'e', 'e', 'a']

In [ ]:
#Changing the order
re.findall("[uoiea]",txt2)

['e', 'e', 'e', 'e', 'a', 'a', 'e', 'e', 'e', 'e', 'a']

In [ ]:
re.findall("[fat]",txt2)

['f', 'a', 'a', 'f', 'a']

##[a-n]

In [ ]:
#Returns a match for any lower case character, alphabetically between a and n

In [ ]:
txt = "Fred fed Ted bread, and Ted fed Fred bread"

In [ ]:
re.findall("[a-n]",txt)

['e',
 'd',
 'f',
 'e',
 'd',
 'e',
 'd',
 'b',
 'e',
 'a',
 'd',
 'a',
 'n',
 'd',
 'e',
 'd',
 'f',
 'e',
 'd',
 'e',
 'd',
 'b',
 'e',
 'a',
 'd']

In [ ]:
#Changing the range
re.findall("[e-m]",txt)

['e', 'f', 'e', 'e', 'e', 'e', 'f', 'e', 'e', 'e']

##[^aeiou]

In [ ]:
#Check if the string has characters other than a,e,i,o and u

In [ ]:
txt2 = "Fred fed Ted bread, and Ted fed Fred bread"

In [ ]:
re.findall("[^aeiou]",txt2)

['F',
 'r',
 'd',
 ' ',
 'f',
 'd',
 ' ',
 'T',
 'd',
 ' ',
 'b',
 'r',
 'd',
 ',',
 ' ',
 'n',
 'd',
 ' ',
 'T',
 'd',
 ' ',
 'f',
 'd',
 ' ',
 'F',
 'r',
 'd',
 ' ',
 'b',
 'r',
 'd']

In [ ]:
txt = "Thank You for $55"

In [ ]:
re.findall("[^ao]",txt)

['T', 'h', 'n', 'k', ' ', 'Y', 'u', ' ', 'f', 'r', ' ', '$', '5', '5']

##[125]

In [ ]:
#Returns a match when any of the specified digits (1,2,5) are present

In [ ]:
txt = "Thank You for $55"

In [ ]:
re.findall("[125]",txt)

['5', '5']

##[0-9]

In [ ]:
#Returns a match for any digit between 0 and 9
txt = "Thank You for $58"
re.findall("[0-9]",txt)

['5', '8']

In [ ]:
txt = "Thank You for $58"
re.findall("[2-6]",txt)

['5']

##[0-5][0-9]

In [ ]:
#Check if the string has any two-digits numbers, from 00 to 59

In [ ]:
txt = "The time is 08:59 pm"

In [ ]:
re.findall("[0-9][0-9]",txt)

['08', '59']

In [ ]:
txt = "Today is 2019-05-29"

In [ ]:
re.findall("[0-9][0-9]",txt)

['20', '19', '05', '29']

In [ ]:
re.findall("[0-9][0-9][0-9][0-9]",txt)

['2019']

In [ ]:
txt = "Year 2019 AD and 5580 BC"

In [ ]:
re.findall("[5-9][5-9][0-9][0-9]",txt)

['5580']

##[a-zA-Z]

In [ ]:
#Returns a match for any character alphabetically between a and z
#lower case OR upper case

In [ ]:
txt = "Year 2019 AD and 5580 BC"

In [ ]:
re.findall("[a-zA-Z]",txt)

['Y', 'e', 'a', 'r', 'A', 'D', 'a', 'n', 'd', 'B', 'C']

In [ ]:
re.findall("[m-zA-M]",txt)

['r', 'A', 'D', 'n', 'B', 'C']

In [ ]:
re.findall("[a-fM-Z]",txt)

['Y', 'e', 'a', 'a', 'd']

In [ ]:
re.findall("[0-8A-Z]",txt)

['Y', '2', '0', '1', 'A', 'D', '5', '5', '8', '0', 'B', 'C']

##[+]

In [ ]:
#Check if the string has any + characters

In [ ]:
txt = "Year 2019 AD and 5580 BC"
re.findall("[+]",txt)

[]

In [ ]:
txt = "5+9 is fourteen"
re.findall("[+]",txt)

['+']

In [ ]:
txt = "5+9 is fourteen but 5*9 is forty-five"
re.findall("[*]",txt)

['*']

In [ ]:
txt = "my@email.com"
re.findall("[@]",txt)

['@']

#Metacharacters

##[]

In [ ]:
#A set of characters
import re

In [ ]:
re.findall("[a-f]","Hello Ocean")

['e', 'c', 'e', 'a']

##\\

In [ ]:
#Signals a special sequence
re.findall("\d","Searching for 789")

['7', '8', '9']

##.

In [ ]:
#Any characters except newline character
txt = "This i$ a #up @p \n Tea at 5 am"

In [ ]:
re.findall(".",txt)

In [ ]:
#search for a sequence that starts with "ab" followed by two (any) characters, and a 't'
txt = "abject, abduct, abrupt, abaft,abbot, ab***t, ab%%$t, ab@#t"
re.findall("ab...t",txt)

['abject', 'abduct', 'abrupt', 'ab***t', 'ab%%$t']

##^

In [ ]:
#Check if the string starts with "How"
txt = "How can a clam cram in a clean cream can?"
re.findall("^How",txt)

['How']

In [ ]:
re.findall("^can",txt)

[]

##$

In [ ]:
##Check if the string ends with "How"
txt = "How can a clam cram in a clean cream can?"
re.findall("How$",txt)

[]

In [ ]:

txt = "How can a clam cram in a clean cream can?"
re.findall("$How",txt)

[]

In [ ]:
txt = "How can a clam cram in a clean cream can?"
re.findall("$can",txt)

[]

In [ ]:
#Check if the string ends with can?

txt = "How can a clam cram in a clean cream can?"
re.findall("can\?$",txt)

['can?']

##*

In [ ]:
#Zero or more occurence

In [ ]:
txt = "abt, abbbt, aaabttt, act, abct, aabbt,aaaa,bct,bat,t,ab,at"
re.findall("ab*t",txt)

['abt', 'abbbt', 'abt', 'abbt', 'at', 'at']

In [ ]:
txt = "Spider, Spiiider, Spder, pider"
re.findall("Spi*der",txt)

['Spider', 'Spiiider', 'Spder']

##+

In [ ]:
#One or more occurence

In [ ]:
#Here we need at least one 'b' between a and t
txt = "abt, abbbt, aaabttt, act, abct, aabbt,aaaa,bct,bat,t,ab,at"
re.findall("ab+t",txt)

['abt', 'abbbt', 'abt', 'abbt']

In [ ]:
txt = "Spider, Spiiider, Spder, pider"
re.findall("Spi+der",txt)

['Spider', 'Spiiider']

##?

In [2]:
#Zero or one occurences

In [3]:
txt = "abt, abbbt, aaabttt, act, abct, aabbt,aaaa,bct,bat,t,ab,at"
re.findall("ab?t",txt)

['abt', 'abt', 'at', 'at']

##{}

In [4]:
#Exactly the specified number of occurences

In [5]:
txt = "abt, abbbt, aaabttt, act, abct, aabbt,aaaa,bct,bat,t,ab,at"
re.findall("ab{2}t",txt)

['abbt']

## |

In [6]:
#or

In [7]:
txt = "Its either Sunday or Wednesday but not Monday"

In [8]:
re.findall("Sunday|Monday",txt)

['Sunday', 'Monday']

In [9]:
re.findall("Sunday|Saturday",txt)

['Sunday']

##()

In [10]:
#Grouping

In [11]:
txt = "Haaaaaha"

In [12]:
re.findall(("Ha"),txt)

['Ha']

In [13]:
txt2 = "HahaHaaHaHaa"

In [14]:
re.findall(("Ha"),txt2)

['Ha', 'Ha', 'Ha', 'Ha']

In [15]:
txt3 = "HaaaaHaHaHaHaaaaaHaHa"

In [17]:
re.findall(("Ha"),txt3)

['Ha', 'Ha', 'Ha', 'Ha', 'Ha', 'Ha', 'Ha']

In [23]:
ha = re.compile(r'(Ha){4}')

In [24]:
ha.findall(txt3)

['Ha']

#Case Insensitive Matching

In [25]:
regex1 = re.compile("Indonesia")
regex2 = re.compile("InDoNeSIA")
regex3 = re.compile("indoneSIA")

In [37]:
indo = re.compile(r'indonesia',re.IGNORECASE)

In [42]:
txt = "Capital of Indonesia is JAkarta"
txt2 = "GDP of IndonesiA is 1.186 Trillion USD"
txt3 = "There are over 17000 island in INDOnesia"

In [38]:
indo.search(txt)

In [43]:
indo.search(txt2)

In [44]:
indo.search(txt2).group()

'IndonesiA'

In [45]:
indo.search(txt3).group()

'INDOnesia'

#Subsituting Strings with the sub() method

In [47]:
capital = re.compile(r'Sumatra')

In [46]:
txt = "Sumatra is Capital of Indonesia."

In [50]:
capital.sub("Jakarta",txt)

'Jakarta is Capital of Indonesia.'

In [53]:
txt = "Sumatra is Capital of Indonesia. Sumatra sits on the northwest coast of the island of Java."

In [54]:
capital.sub("Jakarta",txt)

'Jakarta is Capital of Indonesia. Jakarta sits on the northwest coast of the island of Java.'

In [55]:
#Replacing all numbers with ***

In [58]:
#pattern
pattern = re.compile(r'[0-9]+')

In [57]:
txt = "Credit card number: 123-456-896 amount 55.62"

In [61]:
pattern.sub('***',txt)

'Credit card number: ***-***-*** amount ***.***'

In [62]:
#Limiting number of replacement

In [63]:
pattern.sub('***',txt,count=2)

'Credit card number: ***-***-896 amount 55.62'

In [64]:
#using sub to replace the plain phone number

In [65]:
txt = "(212)-456-9870"

In [66]:
pattern = re.compile(r'\D')

In [67]:
pattern.sub("",txt)

'2124569870'

In [68]:
#\D is inverse digit character set that matches any single character
#which is not a digit.
#Therefore, the sub() functjion replaces all non-digit characters with the empty string ''

#Few common examples

##Date Pattern

In [69]:
pattern = "\d{2}[/-]\d{2}[/-]\d{4}"

In [75]:
pattern = "\d{4}"

In [76]:
txt = "The major dates of her life: 2012-12-12 1963-01-31 and 2000/05/30"

In [77]:
re.findall(pattern,txt)

['2012', '1963', '2000']

In [95]:
pattern = "\d{2}"
re.findall(pattern,txt)

['20', '12', '12', '12', '19', '63', '01', '31', '20', '00', '05', '30']

In [97]:
pattern = "\d{2}-\d{2}"
re.findall(pattern,txt)

['12-12', '63-01']

In [100]:
pattern = "\d{4}-\d{2}-\d{2}"
re.findall(pattern,txt)

['2012-12-12', '1963-01-31']

In [106]:
pattern = r"\d{4}[-/]\d{2}[-/]\d{2}"
re.findall(pattern,txt)

['2012-12-12', '1963-01-31', '2000/05/30']

##time

In [123]:
txt = "its 11:15 PM but not 05:16 AM "

In [122]:
pattern = r'\s(\d{2}\:\d{2}\s?(?:AM|PM|am|pm))'

In [124]:
re.findall(pattern,txt)

['11:15 PM', '05:16 AM']

In [125]:
"""
Explanation:

\s matches any whitespace character (equal to [\r\n\t\f\v ]) 1st Capturing

\d{2} matches a digit (equal to [0-9]) {2} Quantifier — Matches exactly 2 times

\: matches the character : literally (case sensitive)

\d{2} matches a digit (equal to [0-9]) {2} Quantifier — Matches exactly 2 times

\s? matches any whitespace character (equal to [\r\n\t\f\v ]) 0 or more times

Non-capturing group (?:AM|PM|am|pm) 1st Alternative AM AM matches the characters AM literally (case sensitive) 2nd Alternative PM 3rd Alternative am 4th Alternative pm

"""

'\nExplanation:\n\n\\s matches any whitespace character (equal to [\r\n\t\x0c\x0b ]) 1st Capturing\n\n\\d{2} matches a digit (equal to [0-9]) {2} Quantifier — Matches exactly 2 times\n\n\\: matches the character : literally (case sensitive)\n\n\\d{2} matches a digit (equal to [0-9]) {2} Quantifier — Matches exactly 2 times\n\n\\s? matches any whitespace character (equal to [\r\n\t\x0c\x0b ]) 0 or more times\n\nNon-capturing group (?:AM|PM|am|pm) 1st Alternative AM AM matches the characters AM literally (case sensitive) 2nd Alternative PM 3rd Alternative am 4th Alternative pm\n\n'

##Email

In [129]:
pattern = r'\b[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Z|a-z]{2,}\b'

In [137]:
email1 = "she@sea.com"
email2 = "She.she@ship.co"
email3="Ship_sea#sea.common"
email4 = "Ship-sea@sea.co"
email5 = "some_ship@sea.co.np"
email6 = "s#s@ship.com"
emails = [email1,email2,email3,email4,email5,email6]

In [139]:
for email in emails:
  if(re.fullmatch(pattern,email)):
    print("Valid Email:  "+email)
  else:
    print("Invalid Email:  ",email)

Valid Email:  she@sea.com
Valid Email:  She.she@ship.co
Invalid Email:   Ship_sea#sea.common
Valid Email:  Ship-sea@sea.co
Valid Email:  some_ship@sea.co.np
Invalid Email:   s#s@ship.com